
<section class="pricing py-5">
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div *ngFor="let newdata of data" class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">{{newdata.heading}}</h5>
            <h6 class="card-price text-center">{{newdata.newprice}}<span class="period">{{newdata.duration}}</span></h6>
            <hr>
            <ul class="fa-ul">
              <li [ngClass]="{'bold-text':newdata.bold==true}"><span class="fa-li"><i class="fas fa-check"></i></span>{{newdata.user}}</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>{{newdata.storage}}</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>{{newdata.project}}</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>{{newdata.access}}</li>
              <li [ngClass]="{'text-muted':newdata.heading=='Free'}">{{newdata.privateproject}}</li>
              <li [ngClass]="{'text-muted':newdata.heading=='Free'}"><span class="fa-li"><i class="fas fa-times"></i></span>{{newdata.phone}}</li>
              <li [ngClass]="{'text-muted':newdata.heading=='Free'}"><span class="fa-li"><i class="fas fa-times"></i></span><span *ngIf="newdata.show" [ngClass]="'bold-text'">Unlimited </span>{{newdata.domain}}</li>
              <li [ngClass]="{'text-muted':newdata.heading=='Free' || newdata.heading=='Plus'}"><span class="fa-li"><i class="fas fa-times"></i></span>{{newdata.reports}}</li>
            </ul>
            <a href="#" class="btn btn-block btn-primary text-uppercase">{{newdata.button}}</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>